@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Teams.IndexModel
@{
    ViewData["Title"] = "View Teams";
}

<h2 class="h2">My Teams</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>TeamName</th>
            <th>TeamEmail</th>
            <th>TeamDescription</th>
            <th>TeamMeetingDate</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var tm in Model.TeamList)
            {
                DateTime dt = DateTime.Parse(@tm.TeamMeetingDate);
                    <tr>
                        <td>@tm.TeamName</td>
                        <td>@tm.TeamEmail</td>
                        <td>@tm.TeamDescription</td>
                        <td>@String.Format("{0:M/d/yyyy}", dt)</td>
                        <td><a asp-page="EditTeam" class="btn btn-dark" asp-route-teamid="@tm.TeamID" style="color: black; background-color:#DEFAB2;"> Edit </a></td>
                    </tr>

            }
        }

    </tbody>
</table>
<a asp-page="AddTeam" class="btn btn-dark" style="color: white; background-color:#34135B"> Add A New Team </a>
<a asp-page="ViewTeams" class="btn btn-dark" style="color: white; background-color:#34135B"> View All Teams </a>
<a asp-page="/User/AddToTeamDisplay" class="btn btn-dark" style="color: white; background-color:#34135B"> View Team Rosters </a>