@using Microsoft.AspNetCore.Http
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.User



<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lab_1_part_3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab_1_part_3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
    <style>

       
        * {
            font-family: "IBM Plex Sans";
        }

        .fa-linkedin {
            padding: 10px;
        }

        .fa-youtube {
            padding:10px;
        }

        .h2 {
            font-family: 'IBM Plex Sans';
            font-weight: 100;
            font: thin;
            text-align: left;
        }

        .navbar {
            padding-left:15px;
            padding-right:15px;
        }

        .navbar a {
            padding-left:20px;
        }

        .navbar ul li{
            padding: 0 10px 0 10px;
        }

        .notification {
            background-color: #5B3D7E;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 20px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }



            .notification .badge {
                position: absolute;
                top: -5px;
                right: -4px;
                padding: 5px 10px;
                border-radius: 50%;
                background: #D8D0E3;
                color: #5B3D7E;
            }




        .dropbtn {
            color: white;
            padding: 0;
            font-family: 'IBM Plex Sans';
            text-align: left;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right:0;
            left:auto;
        }

            .dropdown-content a {
                color: #FFFFFF;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #FFFFFF;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #FFFFFF;
        }

    </style>
</head>

<body style="background-color:#D8D0E3">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#5B3D7E">
            <img src="/Images/logo1.PNG" alt="logo" height="55" style="padding-right:15px">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if (Context.Session.GetString("username") == null)
                        {
                            <a class="nav-link text-black-light" asp-area="" asp-page="/Index">                                                                                                                  
                            <h2 style="text-shadow: 2px 2px 8px #000000;"><font color="#FFFFFF">Madison Connect</font><font color="#E7FAB2"> Hub</font></h2>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link text-black-light" asp-area="" asp-page="/Index">   
                            <h2 style="text-shadow: 2px 2px 8px #000000;"><font color="#FFFFFF">Madison Connect</font><font color="#E7FAB2"> Hub</font></h2>
                            </a>
                        }
                    }
                    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>*@@*@*
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">*@

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Project/ViewProjects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Project/AddProject">Create Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/User/ViewAllUser">Profiles</a>
                    </li>
              </ul>
              <ul class="nav navbar-nav float-md-right">
                    @{
                        if (Context.Session.GetString("username") == null)
                        {
                                                                                                        <li class="nav-item">
                                                                                                            <a class="nav-link text-light" style="background-color:#5B3D7E;  border-color: #5B3D7E" asp-area="" asp-page="/CreateHashLogin">Sign up</a>
                                                                                                       </li>
                                                                                                       <li class="nav-item">
                                                                                                            <a class="nav-link text-light" style="background-color:#5B3D7E;  border-color: #5B3D7E" asp-area="" asp-page="/DBLogin">Log in</a>
                                                                                                       </li>      
                        }
                        else
                        {
                                                                                                                                            <li class="nav-item">
                                                                                                                                                        <a href="/JoinRequest/viewjoinrequest" class="notification">
                                                                                                                                                        <span style="color:#FFFFFF">Notifications</span>
                                                                                                                                                        <span class="badge">@DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username"))</span>
                                                                                                                                                    </a>
                                                                                                                                           </li>





                                                                                                                                            <li class="nav-item">
                                                                                                                                                <div class="dropdown">
                                                                                                                                                    <button class="dropbtn" style="background-color:#5B3D7E">
                                                                                                                                                        <img class="userpic" src="@Methods.imgFinder(Context.Session.GetString("username"))" alt="" height="55px">
                                                                                                                                                    </button>
                                                                                                                                                    <div class="dropdown-content">
                                                                                                                                                        <a href="/User/Index" style="background-color:#5B3D7E; border-color: #5B3D7E">Your Profile</a>
                                                                                                                                                        <a href="/Project/Index" style="background-color:#5B3D7E; border-color: #5B3D7E">Your Projects</a>
                                                                                                                                                        <a class="dropdown-item" style="background-color:#5B3D7E; border-color: #5B3D7E" asp-page="/DBLogin" asp-route-logout="true">Logout</a>
                                                                                                                                                </div>
                                                                                                                                                </div>
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            </li>





                        }
                    }


                    @{
                        /*if(DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username")) > 0){
        <li>
        <button type="button" class="btn btn-primary position-relative ">
        Notifications
        <span  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username"))
        <span class="visually-hidden">unread messages</span>
        </span>
        </button>
        </li>

        }
        else{
        <li>
        <button type="button" class="btn btn-primary position-relative">
        Notifications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        0
        <span class="visually-hidden">unread messages</span>
        </span>
        </button>
                        </li>
                        */
                    }






                </ul>

                @{
            /*
        if (DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username")) > 0)
        {

        <ul class = "nav navbar-nav navbar-right">
        <li>
        <a class="nav align-items-center"  asp-page="/JoinRequest/ViewJoinRequest">
        Notifications
        <span class="nav align-items-center ">
        @DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username"))
        <span class="visually-hidden">unread messages</span>
        </a>
        </li>

        </ul>
        }
        else{
        <ul class="nav navbar-nav navbar-right">
        <li>
        <a class="nav align-items-center" asp-page="/JoinRequest/ViewJoinRequest">
        Notifications
        <span class="nav align-items-center ">
        0
        <span class="visually-hidden">unread messages</span>
        </a>
        </li>

                    </ul>

                    */
                }

                @*                 </div>
                </div>*@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@*<a class="nav-link text-light" style="background-color:#5B3D7E; border-color: #5B3D7E" asp-area="" asp-page="/JoinRequest/viewjoinrequest">Notifications @DBJoinRequest.JoinRequestCheck(Context.Session.GetString("username"))</a>*@
