@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Skills.EditSkillModel
@{
    ViewData["Title"] = "Edit Skill";
}
<form asp-page="EditSkill">
    <input type="hidden" asp-for="@Model.SkillToUpdate.SkillID" />
    <label asp-for="@Model.SkillToUpdate.SkillType"></label>
    <input type="text" asp-for="@Model.SkillToUpdate.SkillType" />
    <br />
    <label asp-for="@Model.SkillToUpdate.SkillDescription"></label>
    <input type="text" asp-for="@Model.SkillToUpdate.SkillDescription" />
    <br /><br />
    <input type="submit" class="btn btn-dark" asp-page="EditSkill" style="color: white; background-color:#34135B" />
    <a asp-page="Index" class="btn btn-dark" style="color: white; background-color:#34135B">Cancel</a>
</form>
