@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.JoinRequest.ViewJoinRequestModel
@{
}
<h2 class="h2">Project List</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>User Requesting Admittance</th>
            <th>Project Name</th>
            <th>Approve</th>
            <th>Deny</th>
        </tr>
    </thead>
    <tbody>
        @{
            // <td><a asp-page="Approve" class="btn btn-primary" asp-route-projectid="@proj.ProjectID"> Edit </a></td>
            SqlDataReader joinReader = DBJoinRequest.JoinRequestReader(HttpContext.Session.GetString("username"));

            while(joinReader.Read())
            {
                if (joinReader["StatusFlag"].ToString().Equals("n"))
                {
                    <tr>

                    <td>@joinReader["Requester"].ToString()</td>
                    <td>@joinReader["Project Name"].ToString()</td>
                        <td><a asp-page="ViewJoinRequest" class="btn btn-primary" asp-route-ProfileID="@Int32.Parse(joinReader["ProfileID"].ToString())" asp-route-RequestID="@Int32.Parse(joinReader["RequestID"].ToString())" asp-route-TeamID="@Int32.Parse(joinReader["TeamID"].ToString())" style="color: white; background-color:#AC9CD8"> Approve </a></td>
                        <td><a asp-page="ViewJoinRequest" class="btn btn-primary" asp-route-RequestID="@Int32.Parse(joinReader["RequestID"].ToString())" asp-route-TeamID="0" style="color: white; background-color:#AC9CD8"> Deny </a></td>

                </tr>
                }

            }
        }

    </tbody>
</table>