@page

@model lab_1_part_3.Pages.User.EditUserModel
@{
    ViewData["Title"] = "Edit User Profile";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .* {
            font-family: 'IBM Plex Sans';
            width: 90%;
            padding-left: 20%;
            padding-right: 20%;
        }

        .image {
            font-size: 30px;
            float: left;
            border-radius: 50px;
        }

        .skills {
            font-size: 30px;
            clear: left;
            margin-left: 20px;
            border-radius: 50px;
        }

        .avail {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>


<form asp-page="EditUser">

    <input type="hidden" asp-for="@Model.UserToUpdate.ProfileID" />
    <br />
    <a asp-page="FileUpload" class="btn btn-secondary" style="color: white; background-color:#AC9CD8;">Upload Image</a>
    <a asp-page="AddSkillsToUser" class="btn btn-secondary" style="color: white; background-color:#AC9CD8" asp-route-profileid="@Model.UserToUpdate.ProfileID">Edit Skills</a>

    <input type="submit" class="btn btn-success" asp-page="EditUser" style="float: right; color: black; background-color:#DEFAB2; border-color: rebeccapurple;border-radius: 15px;" />

    <br />

    <br /> <br />


    <input type="hidden" asp-for="@Model.UserToUpdate.ProfileID" />
    <label asp-for="@Model.UserToUpdate.FirstName"></label>
    <input type="text" asp-for="@Model.UserToUpdate.FirstName" />
    <br />
    <label asp-for="@Model.UserToUpdate.Username"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Username" />
    <br />
    <label asp-for="@Model.UserToUpdate.LastName"></label>
    <input type="text" asp-for="@Model.UserToUpdate.LastName" />
    <br />
    <label asp-for="@Model.UserToUpdate.Email"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Email" />
    <br />
    <label asp-for="@Model.UserToUpdate.Bio"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Bio" />
    <br />
    <label asp-for="@Model.UserToUpdate.Availability"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Availability" style="height: 170px; width:60%;" />
    <br />
    <label asp-for="@Model.UserToUpdate.VideoIntroduction" style="padding-right: 20px; width: 270px;">Video Introduction Link</label>
    <input type="text" style="padding-left: auto; width:60%;" asp-for="@Model.UserToUpdate.VideoIntroduction" />
    <br />
    <label asp-for="@Model.UserToUpdate.Passions" style="padding-right: 20px; width: 270px;">Edit Passions - <em>optional</em></label>
    <input type="text" style="width:60%;" />
    <br />
    <label asp-for="@Model.UserToUpdate.Personality" style="padding-right: 20px; width: 270px;">Edit Meyer - Briggs Personality Type - <em>optional</em></label>
    <input type="text" style="padding-left: auto; width:60%; " asp-for="@Model.UserToUpdate.Personality" />
    <br />

    <a asp-page="Index" class="btn btn-secondary" style="float: right;">Cancel</a>





</form>

</html>