@page

@model lab_1_part_3.Pages.User.EditUserModel
@{
    ViewData["Title"] = "Edit User Profile";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .* {
            font-family: 'IBM Plex Sans';
            width: 90%;
            padding-left: 20%;
            padding-right: 20%;
        }

        .image {
            font-size: 30px;
            float: left;
            border-radius: 50px;
        }

        .skills {
            font-size: 30px;
            clear: left;
            margin-left: 20px;
            border-radius: 50px;
        }


    </style>
</head>


<form asp-page="EditUser">

    <input type="hidden" asp-for="@Model.UserToUpdate.ProfileID" />
    <br />

    <a asp-page="FileUpload" class="btn btn-dark" style="color: black; background-color:#DEFAB2;">Upload Image</a>
    <a asp-page="AddSkillsToUser" class="btn btn-dark" style="color: black; background-color: #DEFAB2" asp-route-profileid="@Model.UserToUpdate.ProfileID">Edit Skills</a>

    <input type="submit" class="btn btn-dark" asp-page="EditUser" style="float: right; color: white; background-color: #34135B; border-color: rebeccapurple;" />


    <br />

    <br /> <br />


    <input type="hidden" asp-for="@Model.UserToUpdate.ProfileID" />
    <input type="hidden" asp-for="@Model.UserToUpdate.UserType" />
    <input type="hidden" asp-for="@Model.UserToUpdate.PhoneNumber" />
    <input type="hidden" asp-for="@Model.UserToUpdate.ProfessionalEmail" />
    <input type="hidden" asp-for="@Model.UserToUpdate.ProfessionalCompany" />
    <input type="hidden" asp-for="@Model.UserToUpdate.FacultyAssociation" />
    <input type="hidden" asp-for="@Model.UserToUpdate.Passions" />
    <input type="hidden" asp-for="@Model.UserToUpdate.LinkedIn" />
    <input type="hidden" asp-for="@Model.UserToUpdate.Username" />




    <label asp-for="@Model.UserToUpdate.FirstName" style="padding-right: 20px; width: 270px;">First Name</label>
    <input type="text" asp-for="@Model.UserToUpdate.FirstName" style="padding-left: auto; width:60%; " />
    <br />
    <label asp-for="@Model.UserToUpdate.LastName" style="padding-right: 20px; width: 270px;">Last Name</label>
    <input type="text" asp-for="@Model.UserToUpdate.LastName" style="padding-left: auto; width:60%; " />
    <br />
    <label asp-for="@Model.UserToUpdate.Email" style="padding-right: 20px; width: 270px;"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Email" style="padding-left: auto; width:60%; " />
    <br />
    <label asp-for="@Model.UserToUpdate.Bio" style="padding-right: 20px; width: 270px;">Biography</label>
    <input type="text" asp-for="@Model.UserToUpdate.Bio" style="height: 170px; width:60%;" />
    <br />
    <label asp-for="@Model.UserToUpdate.Availability" style="padding-right: 20px; width: 270px;"></label>
    <input type="text" asp-for="@Model.UserToUpdate.Availability" style="height: 170px; width:60%;" />
    <br />
    <label asp-for="@Model.UserToUpdate.VideoIntroduction" style="padding-right: 20px; width: 270px;">Video Introduction Link</label>
    <input type="text" style="padding-left: auto; width:60%;" asp-for="@Model.UserToUpdate.VideoIntroduction" />
    <br />
    <label asp-for="@Model.UserToUpdate.Passions" style="padding-right: 20px; width: 270px;">Edit Passions - <em>optional</em></label>
    <input type="text" style="padding-left: auto; width:60%; " asp-for="@Model.UserToUpdate.Passions" />
    <br />
    <label asp-for="@Model.UserToUpdate.Personality" style="padding-right: 20px; width: 270px;">Edit Meyer - Briggs Personality Type - <em>optional</em> - <a target ="_blank" rel = "noopener noreferrer" href="https://www.truity.com/test/type-finder-personality-test-new">Take Test Here</a></label>
    <input type="text" style="padding-left: auto; width:60%; " asp-for="@Model.UserToUpdate.Personality" />
    <br />
    <button class="btn btn-outline-secondary" asp-page="EditUser" asp-page-handler="PopulateHandler" formnovalidate style="color: white; background-color:#AC9CD8">Populate</button>


    <a asp-page="Index" class="btn btn-dark" style="float: right;">Cancel</a>






</form>

</html>