@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@{
    /*Justin Taylor*/
}

@model lab_1_part_3.Pages.User.IndexModel
@{
    ViewData["Title"] = "View Users";

}

<h2 class="h2">Your Profile</h2>

    @{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        foreach (var usr in Model.UserList)
        {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
    <div class="profilecard" style="color: white; background-color:#AC9CD8">
                                                                                <img src="" alt="John" style="width:50%" height="75%">
                                                                                <h1>@usr.FirstName @usr.LastName</h1>
                                                                                <p class="title">@usr.UserType</p>
                                                                                <p>@usr.Email</p>
                                                                             
                                                                                <a href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin"></i></a>
                                                                                <br/>
                                                                              
                                                                                <a href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube"></i></a>

                                                                                <br/>
                                                                                <p direction="right">@usr.PhoneNumber</p>
                                                                                <p>@usr.FacultyAssociation</p>

                                                                                <h3 style="color: black">Skills:</h3>
                                                                                <p>
                                                                                @{while(skillReader.Read()){
                                                                                            @skillReader["Skill_Type"].ToString() 
                                                                                            <br />
                                                                          }       }
                                                                                </p>
                                                                                <p><button>View Profile</button></p>
                                                                                <br/>
    </div>
           
    }
   }
   



<a asp-page = "/User/ViewAllUser" class="btn btn-primary"> View All Users</a>
<br />
<br />

@{//<a asp-page = "AddSkillsToUser" class="btn btn-primary"> Expand Your Skillset -> </a>
    }