@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.DataClasses
@model lab_1_part_3.Pages.User.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            font-family: 'IBM Plex Sans';
        }

        .userpic {
            margin: 5px;
            margin-right: 5px;
            float: left;
        }

        .profile {
            margin-left: 5px;
            padding-left: 5px;
        }

        .button {
            float: right;
            border-radius: 15px;
        }

        . connect {
            float: left;
        }

    </style>
</head>

@{
    ViewData["Title"] = "View Profile";
}

@{
    foreach (var usr in Model.UserList)
    {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
        SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

        <img class="userpic" src="@Methods.imgFinder(usr.Username)" alt="" style="width:18%" height="18%">
        //<div class="connect">
        //<p style="clear:none">@usr.Email</p>
        <a style="clear: none;" href="@usr.LinkedIn.ToString()" class="fa fa-linkedin"></a>
        <a style="clear: none;" href="@usr.VideoIntroduction.ToString()" class="fa fa-youtube"></a>
        //</div>
    }
}

<table class="profile" style="float:right; width: 75%;">
    <th>
        @{
            foreach (var usr in Model.UserList)
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

                <div class="name" style=" width: 100%;">
                    <a asp-page="EditUser" class="btn btn-dark" style="float: right; color: black; background-color: #DEFAB2; border-color: black" asp-route-profileid="@usr.ProfileID">Edit Profile</a>
                    <h1><strong>@usr.FirstName @usr.LastName</strong></h1>
                    <h5><strong>Affiliation: </strong>@usr.UserType</h5>
                    <h5><strong>Biography: </strong> @usr.Bio</h5>
                </div>

                <div class="skills">
                    <colgroup>
                        <col span="4">
                    </colgroup>
            <tr align="left | right | center | justify | char">
                <th style="width: 20%;">Personality Type</th>
                <th style="width: 20%;">Passions</th>
            </tr>
            </div>


                //<p direction="left">@usr.PhoneNumber</p> }
            }
        }
    </th>
    <td>
        <br />
        @{
            foreach (var usr in Model.UserList)
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                SqlDataReader projectReader = DBProjectClass.SingleUserProjectReader(usr.Username);

                //<p direction="left">@usr.PhoneNumber</p>

                <h5><strong>Skills:</strong></h5>
                while (skillReader.Read())
                {
                    <p>

                        @skillReader["Skill_Type"].ToString()
                    </p>
                }


                <h5><strong>Projects:</strong></h5>

                while (projReader.Read())
                {

                    <p>

                        <a asp-page="/Project/ProjectProfile" class="btn btn-secondary " style="color: #5B3D7E; background-color: #D8D0E3; border-color: #D8D0E3;" asp-route-projectid="@Int32.Parse(projReader["ProjectID"].ToString())">@projReader["Project_Name"].ToString()</a>

                    </p>
                    <br />


                    //foreach (var proj in Model.ProjectList)
                    //{
                    //    SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);

                    //    <h5><strong>Projects:</strong></h5>
                    //    while (projectReader.Read())
                    //    {
                    //        <p>
                    //            <a asp-page="ProjectProfile" class="btn btn-outline-primary" asp-route-projectid="@proj.ProjectID" style="color:white; background-color:#AC9CD8"> @projectReader["Project_Name"].ToString()</a>
                    //        </p>
                    //    }
                    //    <br />
                    //}
                }
            }
        }

        @{
            //<a asp-page = "AddSkillsToUser" class="btn btn-basic"> Expand Your Skillset -> </a>
        }
</table>
</html>
