@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.User.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .userpic {
            margin: 5px;
            margin-right: 5px;
        }

        .profile {
            margin-left: 10px;
            padding-left: 5px;
        }

    </style>
</head>
@{
    ViewData["Title"] = "View Profile";

}

@{
    foreach (var usr in Model.UserList)
    {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
        SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

        <img class="userpic" src="@Methods.imgFinder(usr.Username)" alt="" style="width:15%" height="15%">
    }
}

<table class="profile" style="float:right; width: 83%;">
    <th>
        @{
            foreach (var usr in Model.UserList)
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                <h1>@usr.FirstName @usr.LastName</h1>
                <p>Affiliation: @usr.UserType</p>
            }
        }
    </th>

    <th>
        @{
            foreach (var usr in Model.UserList)
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                <p><a asp-page="EditUser" class="btn btn-primary" style=" color: white; background-color: mediumpurple" asp-route-profileid="@usr.ProfileID"> Edit </a></p>
            }
        }
    </th>


    </tr>

    <td>
        @{
            foreach (var usr in Model.UserList)
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

                <p>@usr.Email</p>

                <a href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin"></i></a>
                <br />

                <a href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube"></i></a>

                <br />
                <p direction="left">@usr.PhoneNumber</p>


                <h4 style="color: black">Skills:</h4>



                while (skillReader.Read())
                {
                    <p>

                        @skillReader["Skill_Type"].ToString()
                    </p>
                }


                <h4 style="color: black;">Projects:</h4>



                while (projReader.Read())
                {
                    <p>
                        @projReader["Project_Name"].ToString()
                    </p>
                    <br />
                }
            }
        }
        @{
            //<a asp-page = "AddSkillsToUser" class="btn btn-primary"> Expand Your Skillset -> </a>
        }
</table>
</html>