@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.User.RecommendedUsersModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }

        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
            align-content: center;
        }

        .column {
            float: left;
            width: 30%;
            padding-top: 10px;
            padding-bottom: 10px;
            align-content: center;
            align-items: center;
            margin: auto;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            padding-bottom: 10px;
            width: 600px;
            text-align: center;
            background-color: #f1f1f1;
            flex: 0 0 100%;
            border-radius: 10%;
        }

        .card_img {
            width: 120 px;
            height: 120 px;
            overflow: hidden;
            border-radius: 100%;
            margin: 0px auto 0;
        }

            .card_img img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

        .icon {
            display: inline-block;
        }

        .text-center {
            padding-left: 120px;
        }


    </style>
</head>


<body>
    @{

        foreach (var usr in Model.UserList2)
        {
            SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                // SqlDataReader userReader = DBUserClass.UserReader(usr.Username);
                                                            <div class="column">
                                                            <div class="card" style="color: black; background-color:#fff">
                                                            <div class="card_img">
                                                                <img src="@Methods.imgFinder(usr.Username)" alt="" style="width:100px" height="100px">
                                                            </div class>
                                                             <h1 style="color:black; font-size:30px" display="inline-block">@usr.FirstName @usr.LastName</h1>

                                                                                                                                                                                                                                            <div class="icon">
                                                                                                                                                                                                                                            <a target="_blank" rel="noopener noreferrer" href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin" style="color:#0072b1"></i></a> 
                                                                                                                                                                                                                                            <a target="_blank" rel="noopener noreferrer" href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube" style="color:#FF0000"></i></a>
                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                            <br />


                                                                                                                                                                                                                                            <h3 style="color: black">Projects:</h3>
                                                                                                                                                                                                                                            <p>
                                                                                                                                                                                                                                                @{
                                while (projReader.Read())
                                {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        @projReader["Project_Name"].ToString()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <br />
                                }
                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                            </p>
                                                                                                                                                                                                                                            <a asp-page="ViewUser" class="btn btn-basic" asp-route-username="@usr.Username" style="color: white; background-color:#34135B">View User</a>
                                                                                                                                                                                                                                            <a asp-page="/Project/Invite Users" class="btn btn-basic" asp-route-ProfileID="@usr.ProfileID" asp-route-ProjectID = "@Model.projID" style="color: white; background-color:#34135B">Invite User</a>
                                                                                                                                                                                                                                            <br />
                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                    </div>


            }
            }
        </div>

  <a asp-page="/Project/Index" class="btn btn-primary"  style="color: white; background-color:#AC9CD8; border:none">Return to Projects</a>
</body>

    </html>