@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.User.RecommendedUsersModel
@{
}
<div class="columncards">
    @* <thead>
    <tr>
    <th>User</th>
    <th>User's Skills</th>

    </tr>
    </thead>
    <tbody>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @{


        foreach (var usr in Model.UserList)
        {
            SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
            SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
            // SqlDataReader userReader = DBUserClass.UserReader(usr.Username);


            <div class="card" style="color: black; background-color:#fff">
                <img src="@Methods.imgFinder(usr.Username)" alt="" style="width:50%" height="75%">
                <h1>@usr.FirstName @usr.LastName</h1>
                <p class="title">@usr.UserType</p>
                <p>@usr.Email</p>

                <a href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin"></i></a>


                <a href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube"></i></a>

                <br />
                <p direction="right">@usr.PhoneNumber</p>
                <p>@usr.FacultyAssociation</p>

                <h3 style="color: black">Skills:</h3>
                <p>
                    @{
                        while (skillReader.Read())
                        {
                            @skillReader["Skill_Type"].ToString()
                            <br />
                        }
                    }
                </p>
                <br />

                <h3 style="color: black">Projects:</h3>
                <p>
                    @{
                        while (projReader.Read())
                        {
                            @projReader["Project_Name"].ToString()
                            <br />
                        }
                    }
                </p>
                <a asp-page="ViewUser" class="btn btn-basic" asp-route-username="@usr.Username" style="color: white; background-color:#AC9CD8">View User</a>

                <br />
            </div>



            while (skillReader.Read())
            {
                @skillReader["Skill_Type"].ToString()

            }



            <br />
        }
    }
