@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.DataClasses
@model lab_1_part_3.Pages.User.ViewAllUserModel
@{
    ViewData["Title"] = "View Users";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }
        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
            align-content: center;
        }
        .column {
            float: left;
            width: 30%;
            padding-top: 10px;
            padding-bottom: 10px;
            align-content: center;
            align-items: center;
            margin: auto;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            padding-bottom: 10px;
            width: 600px;
            text-align: center;
            background-color: #f1f1f1;
            flex: 0 0 100%;
            border-radius: 10%;
        }
        .card_img {
            width: 120 px;
            height: 120 px;
            overflow: hidden;
            border-radius: 100%;
            margin: 0px auto 0; 
        }
        .card_img img{
            width:100px;
            height:100px;
            object-fit: cover;
        }
        .icon {
            display: inline-block;
        }
        .text-center{
            padding-left: 120px;
        }


    </style>
</head>


<body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <h1 style="font-weight:lighter; color:#3E1C66">Explore profiles</h1>
        <h5 style="font-weight:bold; color:#3E1C66">Search by name or skills</h5>
        <a asp-page="/Index" class="btn btn-dark" style="float:right">Return</a>

        <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>





            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users...">


            <table id="myTable">
                <tr class="header">
            </tr>
            @{
            foreach (var usr in Model.UserList)

            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                    <tr>
                        <td>  <div class="column">
                                                                <div class="card" style="color: black; background-color:#fff">
                                                                <div class="card_img">
                                                                    <img src="@Methods.imgFinder(usr.Username)" alt="" style="width:100px" height="100px">
                                                                </div class>
                                                                 <h1 style="color:black; font-size:30px" display="inline-block">@usr.FirstName @usr.LastName</h1>
                                @{
                                    while(skillReader.Read()){
                                        Model.skills += " " +skillReader["skill_Type"].ToString();
                                        }  }  <p hidden>@Model.skills</p>                                                                                                                                                                  <div class="icon">
                                                                                                                                                                                                                                                <a target="_blank" rel="noopener noreferrer" href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin" style="color:#0072b1"></i></a> 
                                                                                                                                                                                                                                                <a target="_blank" rel="noopener noreferrer" href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube" style="color:#FF0000"></i></a>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                <br />


                                                                                                                                                                                                                                                <h2 style="color: black; font-size:20px">Current projects:</h2>
                                                                                                                                                                                                                                                <p>
                                                                                                                                                                                                                                                    @{
                                while (projReader.Read())
                                {
                                                                                                                 @projReader["Project_Name"].ToString()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <br />
                                }
                                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                                </p>
                                                                                                                                                                                                                                                <a asp-page="ViewUser" class="btn btn-dark" asp-route-username="@usr.Username" style="color: white; background-color:#34135B;">View User</a>

                                                                                                                                                                                                                                                <br />
                                                                                                                                                                                                                                            </div>

                                                                                                                                                                                                                                        </div></td>
                         </tr>
   
        }
    }
     </table>


    </body>

    </html>