@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.User.ViewUser
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .profpic {
        }
    </style>
</head>

@{
    ViewData["Title"] = "View Users";

}
@{
    foreach (var usr in Model.UserList)
    {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);

        <img class="profpic" src="@Methods.imgFinder(usr.Username)" alt="" style="width:15%" height="15%">

        <h1>@usr.FirstName @usr.LastName</h1>
        <p class="title">@usr.UserType</p>
        <p>@usr.Email</p>

        <a href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin"></i></a>
        <br />

        <a href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube"></i></a>

        <br />
        <p direction="right">@usr.PhoneNumber</p>
        <p>@usr.FacultyAssociation</p>

        <h3 style="color: black">Skills:</h3>
        <p>
            @{
                while (skillReader.Read())
                {
                    @skillReader["Skill_Type"].ToString()
                    <br />
                }
            }
        </p>
        //<h3 style="color: black">Projects:</h3>
        //<p>
        //        while (projReader.Read())
        //        {
        //    <p>
        //            @projReader["Project_Name"].ToString()
        //    </p>
        //    <br />
        //                }
        //</p>

        //    <br />
        //</div>

    }
}
<br />
<br />

@{
    //<a asp-page = "AddSkillsToUser" class="btn btn-primary"> Expand Your Skillset -> </a>
}
    </th>
</table>
</html>