@page
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .h1 {
            text-align: center;
            align-content: center;
        }

        .form-control {
            border-radius: 10px;
            width: auto;
            align-content: center;
        }

        .form {
            align-content: center;
            align-self: auto;
        }



    </style>
</head>
<body>
    @{
        /*Justin Taylor*/
    }
    @model lab_1_part_3.Pages.Project.AddProjectModel
    @{
    }

    @{

        if (HttpContext.Session.GetString("username") != null)
        {


            <form class="form" style="align-content: center; text-align: center;" asp-page="AddProject">
                <h1 style="text-align: left; color: rebeccapurple;"><strong>Create a Project!</strong></h1>
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectName" style="width: 200px; text-align:left; float: left;">Project Name</label>
                <input type="text" style="width: 250px;" class="form-control" asp-for="NewProjectProfile.ProjectName" style="align-content: center; " />
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectDescription" style="width: 200px; text-align:left;  float: left;">Project Description</label>
                <input type="text" style="width: 250px;" class="form-control" asp-for="NewProjectProfile.ProjectDescription" />
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectType" style="width: 200px; text-align:left;  float: left;">Project Type</label>
                <select name="NewProjectProfile.ProjectType" style="float: left;">
                    <option value="Arts">Arts</option>
                    <option value="Environmental">Environmental</option>
                    <option value="Technology">Technology</option>
                    <option value="Volunteer">Volunteer</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Development">Development</option>
                    <option value="Business Process Revamp">Business Process Revamp</option>

                    <option value="Other">Other</option>
                </select>
                <br />
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectMissionStatement" style="width: 200px; text-align:left;  float: left;">Mission Statement</label>
                <input type="text" style="width: 250px; padding-left: auto;" class="form-control" asp-for="NewProjectProfile.ProjectMissionStatement" />
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectBeginDate" style="width: 200px; text-align:left ; float: left;">Project Start Date</label>
                <input type="date" class="form-control" style="align-content: center;" asp-for="NewProjectProfile.ProjectBeginDate" placeholder="Project's Start Date" />
                <br />
                <label asp-for="@Model.NewProjectProfile.ProjectOwnerEmail" style="width: 200px; text-align:left;  float: left;">Project Owner Email</label>

                <input type="text" style="align-content: center; width: 250px;" class="form-control" asp-for="NewProjectProfile.ProjectOwnerEmail" />
                <br />
                <a asp-page="Index" class="btn btn-secondary" style="float: left;color: black; background-color:#AC9CD8; border-radius: 500px">Cancel</a><button type="submit" class="btn btn-primary" style=" width: auto; margin-left: 0px; color: black; background-color:#DEFAB2; border-radius: 500px">Create Project</button>
                <br />
                @*            <button class="btn btn-outline-secondary" asp-page="AddProject" asp-page-handler="PopulateHandler" formnovalidate style="color: white; background-color:#AC9CD8">Populate</button>
        *@            <br />



            </form>


        }
    }
</body>
</html>
