@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Project.EditProjectModel
@{
    ViewData["Title"] = "Edit Project";
}
<form asp-page="EditProject">
  
    <br />
    <a asp-page="FileUploadProject" asp-route-projname="@Model.ProjectToUpdate.ProjectName" class="btn btn-dark" style="color: white; background-color:#34135B;">Upload Image</a>
<input type="hidden" asp-for="@Model.ProjectToUpdate.ProjectID" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectDescription"></label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectDescription" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectType"></label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectType" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectName"></label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectName" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectOwnerEmail"></label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectOwnerEmail" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectBeginDate"></label>
    <input type="date" asp-for="@Model.ProjectToUpdate.ProjectBeginDate" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.ProjectMissionStatement"></label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectMissionStatement" />
    <br /><br />
    <input type="submit" class="btn btn-dark" style="color: white; background-color:#34135B" asp-page="EditProject" />
    <a asp-page="Index" class="btn btn-dark" style="color: black; background-color:#DEFAB2">Cancel</a>
</form>
