@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Project.EditProjectModel
@{
    ViewData["Title"] = "Edit Project";
}
<form asp-page="EditProject" style="align-content: center;">
  
    <br />
    <a asp-page="FileUploadProject" asp-route-projname="@Model.ProjectToUpdate.ProjectName" class="btn btn-dark" style="color: black; background-color:#DEFAB2;">Upload Image</a>
<input type="hidden" asp-for="@Model.ProjectToUpdate.ProjectID" />
    <br /><br />
     <label asp-for="@Model.ProjectToUpdate.ProjectName" style="width: 200px; padding-right: 2px;">Project Name</label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectName" style="width: 300px;"/>
    <br /><br />
    <label asp-for="@Model.ProjectToUpdate.ProjectMissionStatement" style="width: 200px;  padding-right: 20px;">Mission Statement</label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectMissionStatement" style="width: 300px;" />
    <br /><br />
    <label asp-for="@Model.ProjectToUpdate.ProjectDescription" style="width: 200px; padding-right: 20px;">Project Description</label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectDescription" style="width: 300px; " />
    <br /><br />
    <label asp-for="@Model.ProjectToUpdate.ProjectType" style="width: 200px;  padding-right: 20px;">Project Type</label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectType" style="width: 300px;"  />
    <br /><br />
    <label asp-for="@Model.ProjectToUpdate.ProjectOwnerEmail" style="width: 200px;  padding-right: 20px;">Project Owner  Email</label>
    <input type="text" asp-for="@Model.ProjectToUpdate.ProjectOwnerEmail" style="width: 300px;"  />

    <br /><br />
    <input type="submit" class="btn btn-dark" style="color: white; background-color:#34135B" asp-page="EditProject" />
    <a asp-page="Index" class="btn btn-dark">Cancel</a>
</form>
