@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Project.IndexModel
@{
    ViewData["Title"] = "View Projects";
}

<h2 class="h2">Project List</h2>
<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>ProjectName</th>
            <th>ProjectDescription</th>
            <th>ProjectType</th>
            <th>ProjectOwnerEmail</th>
            <th>ProjectBeginDate</th>
            <th>ProjectMissionStatement</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var proj in Model.ProjectList)
            {
                //dates look funny in view when 10 or up is entered for month. Ask ezell in office hours
                //<td>@proj.ProjectBeginDate.Substring(0,10)</td>
                //ask about populate interfering with drop down for project id
                //String.Format("{0:M/d/yyyy}", dt);
               DateTime dt =  DateTime.Parse(@proj.ProjectBeginDate);
                <tr>

                        <td>@proj.ProjectName</td>
                        <td>@proj.ProjectDescription</td>
                        <td>@proj.ProjectType</td>
                        <td>@proj.ProjectOwnerEmail</td>
                        <td>@String.Format("{0:M/d/yyyy}", dt)</td>
                        <td>@proj.ProjectMissionStatement</td>
                    <td><a asp-page="EditProject" class="btn btn-primary" asp-route-projectid="@proj.ProjectID" style="color: white; background-color:#AC9CD8"> Edit </a></td>
                    </tr>

            }
        }

    </tbody>
</table>
<a asp-page="AddProject" class="btn btn-primary" style="color: white; background-color:#AC9CD8"> Add A New Project -> </a>
<a asp-page="ViewProjects" class="btn btn-primary" style="color: white; background-color:#AC9CD8"> View All Projects -> </a>
<a asp-page="SearchProject" class="btn btn-primary" style="color: white; background-color:#AC9CD8"> Search For Projects </a>