proj index

@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.DataClasses
@model lab_1_part_3.Pages.User.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            font-family: 'IBM Plex Sans';
        }

        .profpic {
            height: 180px;
            width: 180px;
            margin-right:15px;
            padding-left:0;
            margin-left:0;

        }

        .button {
            float: right;
            border-radius: 15px;
        }

    </style>
</head>

@{
    ViewData["Title"] = "View Profile";
}

@{
    foreach (var usr in Model.UserList)
    {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
        SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

    <table>
                                            <tr>
                                                <td><img class="profpic" src="@Methods.imgFinder(usr.Username)" alt="Profile Picture"></td>
                                                <td><h1><strong>@usr.FirstName @usr.LastName</strong></h1></td>
                                                <td><a asp-page="EditUser" class="btn btn-secondary" style="float: right; color: black; background-color: #DEFAB2; border-color: #DEFAB2" asp-route-profileid="@usr.ProfileID">Edit Profile</a></td>
                                            </tr>
                                            <tr>
                                            <td>  </td>
                                                <td>
                                                    <h5>Affiliation:<strong> @usr.UserType</strong></h5>
                                                    <br />
                                                    <h5><strong>Biography</h5>
                                                    <p>@usr.Bio</p>

                                                    <div class="skills">
                                                        <colgroup>
                                                            <col span="4">
                                                        </colgroup>
                                                        
                                            <tr>
                                                <th style="width: auto; margin-right:20px;">Hard Skills</th>
                <th style="width: auto;margin-right:20px;">Soft Skills</th>
                <th style="width: auto; margin-right:20px;">Personality Type</th>
                                                <th style="width: auto;">Passions</th>
                                            </tr>
                                            </div>

                                            </td>
                                            </tr>
    </table>
        //<p style="clear:none">@usr.Email</p>
        //    <a style="clear: none;" href="@usr.LinkedIn.ToString()" class="fa fa-linkedin"></a>
        //    <a style="clear: none;" href="@usr.VideoIntroduction.ToString()" class="fa fa-youtube"></a>
    }
}

@{
    foreach (var usr in Model.UserList)
    {
        SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
        SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);

    <h5><strong>Skills:</strong></h5>
        while (skillReader.Read())
        {
    <p>
                                                @skillReader["Skill_Type"].ToString()
    </p>
        }
    }


    foreach (var proj in Model.ProjectList)
    {
        SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);

    <h5><strong>Projects:</strong></h5>
        while (projectReader.Read())
        {
    <p>
                                                <a asp-page="ProjectProfile" class="btn btn-outline-primary" asp-route-projectid="@proj.ProjectID" style="color:white; background-color:#AC9CD8"> @projectReader["Project_Name"].ToString()</a>
    </p>
        }
    <br />
    }
}

</html>