@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.DataClasses
@model lab_1_part_3.Pages.Project.IndexModel
@{
    ViewData["Title"] = "View My Projects";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="wodth=device-width,initial-scale=1" />
    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }

        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
            align-content: center;
        }


/*
        .container {
            display: flex;
            flex-flow: row wrap;
        }*/

        .row {
            margin: 0;
            padding-bottom: 10px;
        }

            .row:after {
                content: "";
                display: table;
                clear: both;
                padding-bottom: 10px;
            }

        .column {
            float: left;
            padding: 10px;
            align-content: center;
            align-items: center;
            margin: auto;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
            width: 600px;
            text-align: center;
            background-color: #f1f1f1;
            flex: 0 0 100%;
            border-radius: 10%;
        }

            .card img {
                overflow: hidden;
                border-radius: 10%;
                margin: 0px auto 0;
                object-fit: cover;
                padding-bottom: 10px;
            }

        .topnav {
            background-color: #e5dbf4;
            overflow: hidden;
        }

            .topnav a {
                float: left;
                color: #e5dbf4;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #e5dbf4;
                    color: black;
                }


        .grid-col-span-2 {
            grid-column: span 2;
        }

        .testimonial-grid {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            padding-block: 2rem;
            width: min(95%, 70rem);
            margin-inline: auto;
        }
    </style>
</head>
<body>
    <article class="testimonial-grid">
        <article class="testimonial">
    <h2 class="h2">My Project List</h2>
        </article>

        <article class="testimonial">
        </article>

        <article class="testimonial">
            <a asp-page="/Index" class="btn btn-dark" style="float:right">Return</a>
        </article>
    @{


                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        foreach (var proj in Model.ProjectList)
        {
            SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);

<article class="testimonial">
              <div class="card" style="color: black; background-color: #fff">
                        <img src="@Methods.projimgFinder(proj.ProjectName)" alt="" style="width:295px" height="220px">
                        <h3>@proj.ProjectName</h3>
                        <p>@proj.ProjectMissionStatement</p>
                        <p>@proj.ProjectType</p>
                        <p>@proj.ProjectDescription</p>
                        <p>@proj.ProjectOwnerEmail</p>
                        <p><a asp-page="ProjectProfile" class="btn btn-outline-dark" asp-route-projectid="@proj.ProjectID" style="color:white; background-color:#34135B">Project Details & Recommended Users</a></p>
                        <p><a asp-page="Invite Users" class="btn btn-outline-dark" asp-route-ProjectID="@proj.ProjectID" style="color:white; background-color:#34135B">Invite Users</a></p>
                    <a asp-page="EditProject" class="btn btn-outline-basic" style=" color: white; background-color: #34135B;" asp-route-projectid="@proj.ProjectID">Edit Project</a>
                        <br />
                    </div>
                    <br />
                </article>

        }
    }
    </article>
</body>
</html>