@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.Project.ProjectProfileModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            font-family: 'IBM Plex Sans';
        }

        .pic {
            margin: 5px;
            margin-right: 5px;
            float: left;
        }

        .profile {
            margin-left: 5px;
            padding-left: 5px;
        }

        .button {
            float: right;
            border-radius: 15px;
        }

        . connect {
            float: left;
        }

        p {
            margin:0;
        }
    </style>
</head>

@{
    ViewData["Title"] = "View Project";
}

@{
    foreach (var proj in Model.ProjectList)
    {
        SqlDataReader projReader = DBProjectClass.SingleProjectReader(proj.ProjectID);

    <img class="pic" src="@Methods.projimgFinder(proj.ProjectName)" alt="" style="width:18%" height="18%">
    }
}

<table class="profile" style="float:right; width: 75%;">
    <th>
        @{
            foreach (var proj in Model.ProjectList)
            {
                SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);
                SqlDataReader desiredSkillReader = DesiredSkill.DesiredSkillNameReader(proj.ProjectID);
                SqlDataReader teamMembers = DBProjectClass.TeamMember(proj.ProjectID);

                            <div class="name" style=" width: 100%;">
                                <h1><strong> @proj.ProjectName</strong></h1>
                                <h5>Category:<strong> @proj.ProjectType</strong></h5>
                                <br />
                                <h5>Project Summary:<strong> @proj.ProjectDescription</strong></h5>
                            </div>
                            <br />
                            <div class="skills">
                                <colgroup>
                                    <col span="4">
                                </colgroup>
                        <tr align="left | right | center | justify | char">
                <th style="width: 30%;">
                    <strong>
                        Desired Skills:  @{
                                    while (desiredSkillReader.Read())
                                    {
                                <p>&#8226 @desiredSkillReader["Skill_Type"].ToString()</p>
                                    }
                                }
                    </strong>
                </th>
                <th style="width: 30%;">
                    <strong>
                        Team Members:  @{
                                    while (teamMembers.Read())
                                    {
                                <p>&#8226 @teamMembers["Name"].ToString()</p>
                                    }
                                }
                    </strong>
                </th>
                        </tr>
                        
                        </div>
                //<p direction="left">@usr.PhoneNumber</p> }
            }
        }
    </th>


    <td>
      
</table>
<br />
<br />
<table>
    <td>
    @{
        foreach (var usr in Model.UserList2)
        {
            if ((usr.Username.Equals(HttpContext.Session.GetString("username")) == false))
            {
                SqlDataReader skillReader = DBSkillClass.SingleUserSkillReader(usr.Username);
                SqlDataReader projReader = DBProjectClass.UserProjectReader(usr.Username);
                // SqlDataReader userReader = DBUserClass.UserReader(usr.Username);
                    <div class="column">
                        <div class="card" style="color: black; background-color:#fff">
                            <div class="card_img">
                                <img src="@Methods.imgFinder(usr.Username)" alt="" style="width:100px" height="100px">
                            </div class>
                            <h1 style="color:black; font-size:30px" display="inline-block">@usr.FirstName @usr.LastName</h1>

                            <div class="icon">
                                <a target="_blank" rel="noopener noreferrer" href="@usr.LinkedIn.ToString()"><i class="fa fa-linkedin" style="color:#0072b1"></i></a> 
                                <a target="_blank" rel="noopener noreferrer" href="@usr.VideoIntroduction.ToString()"><i class="fa fa-youtube" style="color:#FF0000"></i></a>
                            </div>
                            <br />


                            <h3 style="color: black">Projects:</h3>
                            <p>
                                @{
                                while (projReader.Read())
                                {
                                            @projReader["Project_Name"].ToString()
                                            <br />
                                }

                                }
                            </p>
                            <a asp-page="ViewUser" class="btn btn-dark" asp-route-username="@usr.Username" style="color: white; background-color:#34135B">View User</a>
                            <br />
                            <a asp-page="/Project/Invite Users" class="btn btn-dark" asp-route-ProfileID="@usr.ProfileID" asp-route-ProjectID = "@Model.projID" style="color: white; background-color:#34135B">Invite User</a>
                            <br />

                        </div>


                      
                    </div>
            }
        }
        }
        </td>
        </table>
</html>