@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@model lab_1_part_3.Pages.Project.SearchProjectModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }

        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
            align-content: center;
        }


        .column {
            float: left;
            width: 30%;
            padding-top: 10px;
            padding-bottom: 10px;
            align-content: center;
            align-items: center;
            margin: auto;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
            width: 600px;
            text-align: center;
            background-color: #f1f1f1;
            flex: 0 0 100%;
            border-radius: 10%;
        }



        .card img {
            overflow: hidden;
            border-radius: 10%;
            margin: 0px auto 0;
            object-fit: cover;
            padding-bottom: 10px;
        }

        .icon {
            display: inline-block;
        }

        .text-center {
            padding-left: 120px;
        }

                .grid-col-span-2 {
            grid-column: span 2;
        }

        .testimonial-grid {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            padding-block: 2rem;
            width: min(95%, 70rem);
            margin-inline: auto;
        }
                      .testimonial {
        display: flex;
        align-items: center;
        justify-content: center;
      } 

    </style>
</head>

<body>
    <article class="testimonial-grid">
        <article class="testimonial">

            <h4 style="font-weight:lighter; color:#34135B">Explore projects</h4>

        </article>
        <article class="testimonial">

            <a asp-page="ViewProjects" class="btn btn-dark" style="color: white; background-color:#34135B"> Search Again</a>
        </article>
        <article class="testimonial">
            <a asp-page="ViewProjects" class="btn btn-dark"> Return</a>

        </article>


    <article class="testimonial-grid">

@{
    if (Model.SearchText == null)
    {
    //<form asp-page="SearchProject">
    //            <input asp-for="SearchText" class="form-control" placeholder="Search Here" />
    //        <br />
    //            <input type="submit" class="btn btn-dark" style="color: white; background-color:#34135B" />
    //</form>
    <br />
    }
    else{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        foreach (var proj in Model.ProjectList)
        {
            SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);
    <article class="testimonial">
                    <div class="card" style="color: black; background-color: #fff">
                            <img src="@Methods.projimgFinder(proj.ProjectName)" alt="" style="width:295px" height="200px">
                        <h3>@proj.ProjectName</h3>
                        <p>@proj.ProjectMissionStatement</p>
                        <p>@proj.ProjectType</p>
                        <p>@proj.ProjectDescription</p>
                        <p>@proj.ProjectOwnerEmail</p>
                        <a asp-page="SearchProject" class="btn btn-dark" asp-route-ProjID="@proj.ProjectID" style="color: white; background-color:#34135B; width: 50%"> Request to Join </a>
                        <br />
                    </div>
                    <br />
                        </article>
    }

    
}
}
</article>
</body>
</html>