@page
@using System.Data.SqlClient
@using lab_1_part_3.Pages.DBClasses
@using lab_1_part_3.Pages.DataClasses
@model lab_1_part_3.Pages.Project.ViewProjectsModel
@{
    ViewData["Title"] = "View Projects";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="wodth=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./style.css">

    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }

        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
            align-content: center;
        }

        .container {
            display: flex;
            flex-flow: row wrap;
        }

        .row {
            margin: 0;
            padding-bottom: 10px;
        }

            .row:after {
                content: "";
                display: table;
                clear: both;
                padding-bottom: 10px;
            }

        .column {
            float: left;
            padding: 10px;
            align-content: center;
            align-items: center;
            margin: auto;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 600px;
            text-align: center;
            background-color: #f1f1f1;
            flex: 0 0 100%;
            border-radius: 10%;
        }


            .card img {
                overflow: hidden;
                border-radius: 10%;
                margin: 0px auto 0;
                object-fit: cover;
                padding-bottom: 10px;
            }

        .grid-col-span-2 {
            grid-column: span 2;
        }

        .testimonial-grid {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            padding-block: 2rem;
            width: min(95%, 70rem);
            margin-inline: auto;
        }

    </style>
</head>
<main class="testimonial-grid">
    <article class="testimonial">
        <h3 style="font-weight:bold; color:#34135B">Explore all projects Madison Connect Hub has to offer!</h3>
    </article>

    <article class="testimonial">
        <h4 style="font-weight:lighter; color:#34135B">All Projects</h4>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Projects..">
    </article>

    <article class="testimonial">
    </article>
    <body>


        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }

            }
        </script>


        @*
        <table id="myTable">
        <tr class="header">
        </tr>*@

        @{
            foreach (var proj in Model.ProjectList)
            {
                SqlDataReader projectReader = DBProjectClass.SingleProjectReader(proj.ProjectID);

                //<tr>
                //    <td>
                <article class="testimonial">
                    <div class="column">


                        <div class="card" style="color: black; background-color: #fff">
                            <img src="@Methods.projimgFinder(proj.ProjectName)" alt="" style="width:295px" height="200px">
                            <h3>@proj.ProjectName</h3>
                            <p>@proj.ProjectMissionStatement</p>
                            <p>@proj.ProjectType</p>
                            <p>@proj.ProjectDescription</p>
                            <p>@proj.ProjectOwnerEmail</p>
                            <p><a asp-page="ProjectProfile" class="btn btn-outline-dark" asp-route-projectid="@proj.ProjectID" style="color:white; background-color:#34135B; border:none">Project Details</a></p><p>@Model.Message</p>
                            <p>
                                @{
                                    if (HttpContext.Session.GetString("username") == null)
                                    {
                                    }
                                    else
                                    {
                                        <a asp-page="ViewProjects" class="btn btn-basic" asp-route-ProjID="@proj.ProjectID" style="color: white; background-color:#34135B; border:none"> Request to Join </a>

                                    }
                                }
                            </p>
                        </div>
                        <br />

                    </div>
                </article>
                //    </td>
                //</tr>
            }
        }
        @*            </table>

        *@
        <article class="testimonial">
        </article>
        <article class="testimonial">
        </article>
        <article class="testimonial">
        </article>













        <a asp-page="Index" class="btn btn-basic" style="color: white; background-color:#34135B; position: center"> Return To My Projects </a>


    </body>
</main>
</html>